services:
  election-monitor:
    build: downloader
    user: "1000:1000"
    environment:
      - API_BASE_URL=https://valgresultat.no/api
      - DATA_PATH=/data
      - ELECTION_YEARS=2025
      - ELECTION_YEARS_ALL=2009,2013,2017,2021,2025,2029
      - POLL_INTERVAL_MINUTES=15
    volumes:
      - ./data:/data
    #restart: unless-stopped

